{% assign contact_vars = site.data.profile.contact %}

<div id="contact-modal" class="w3-modal">
 <div class="w3-modal-content w3-animate-zoom">
  <div class="w3-container w3-black w3-text-red">
    <div class="w3-row">
      <div class="w3-col l10 w3-left"><h2>Contact</h2></div>
      <!-- <div class="w3-col l1 m1 s2 w3-right  "
        onclick="document.getElementById('contact-modal').style.display='none'"
        id="close-btn">&times;
     </div> -->
      </span>
    </div>

 </div>

  <div class="w3-bar w3-border-bottom w3-black">
    {% if contact_vars.formspree or contact_vars.email or contact_vars.phone %}
   <button class="tablink w3-bar-item w3-button w3-hover-none w3-hover-text-white" onclick="openContactTab(event, 'ContactForm')">Contact Form</button>
    {% endif %}
    {% if contact_vars.address or contact_vars.googlemap %}
   <button class="tablink w3-bar-item w3-button w3-hover-none w3-hover-text-white" onclick="openContactTab(event, 'Address')">Address</button>
    {% endif %}
   {% if contact_vars.calendly %}
   <button class="tablink w3-bar-item w3-button w3-hover-none w3-hover-text-white" id="scheduleBtn"
   onclick="Calendly.initPopupWidget({url: '{{contact_vars.calendly}}'});return false;">Schedule time with me</button>
   {% endif %}
   <!-- <button class="tablink w3-bar-item w3-button" onclick="openContactTab(event, 'Schedule')">Schedule</button> -->
  </div>

  {% if contact_vars.formspree or contact_vars.email or contact_vars.phone %}
  <div id="ContactForm" class="w3-container contactTab w3-margin-top">
  {% if contact_vars.email %}
    <p class="w3-margin"><i class="fas fa-envelope fa-x w3-text-black" aria-hidden="true"></i> {{contact_vars.email}} <br></p>
  {% endif %}
  {% if contact_vars.phone %}
    <p class="w3-margin"><i class="fas fa-phone fa-x w3-text-black" aria-hidden="true"></i> {{contact_vars.phone }} <br> </p>
  {% endif %}
  {% if contact_vars.formspree %}
    <form class="w3-container" id="my-form" action="{{contact_vars.formspree}}" method="POST" name="Navid's form">

      <div class="w3-row-padding w3-margin-bottom">
      <div class="w3-col w3-half">
      <label>Name</label>
      <input class="w3-input w3-light-grey" type="text" required name="Name">
      </div>
      <div class="w3-col w3-half">
      <label>Email</label>
      <input class="w3-input w3-light-grey" type="email" required name="Email">
      </div>
      </div>
      <div class="w3-section w3-padding-left" style="padding-left:1em; padding-right:1em;">
      <label>Subject</label>
      <input class="w3-input w3-light-grey" type="text" required name="Subject">
      <div class="hpot" style="display:none;">
      <label>Leave this field empty: <input name="_gotcha"></label>
      </div>
      <label>Message</label>
      <textarea class="w3-input w3-light-grey" required name="Message"></textarea>

      <!-- <input class="w3-input w3-light-grey" type="area" required name="message"> -->

      <br>
      <!-- <button id="my-form-button" class="g-recaptcha w3-button w3-hover-black" style="background-color:#870000;color:white;"
              data-sitekey="6Ld0lSoaAAAAAKedbenRRhDVccF81wsINpoDg8R6"
              data-callback='onSubmit'
              data-action='submit'> -->
      <button id="my-form-button" class="w3-button w3-hover-black" style="background-color:#870000;color:white;">
        <i class="fa fa-send-o w3-text-white"></i>Send
      </button>
      </div>
      <p id="my-form-status"></p>

    </form>
    {% endif %}
  </div>
  {% endif %}
  {% if contact_vars.address or contact_vars.googlemap %}
  <div id="Address" class="w3-container contactTab">
   <!-- <h1>Paris</h1> -->
   <p class="w3-margin-bottom w3-margin-top"> {{ contact_vars.address }} </p>
   {% if contact_vars.googlemap %}
   <div class="w3-center map-container">
   <iframe src="{{contact_vars.googlemap}}"
    width="500" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="map">
   </iframe></div>
   {% endif %}
  </div>
  {% endif %}
  <div id="Schedule" class="w3-container contactTab" style="display:none">
    <h4><b>Schedule a meeting with me</b></h4>

    <!-- Calendly link widget begin -->
    <div class="w3-center">
    <a href="" class="w3-button" id="scheduleBtn"
    onclick="Calendly.initPopupWidget({url: '{{contact_vars.calendly}}'});return false;">Schedule time with me</a>
    </div>
    <!-- Calendly link widget end -->

  </div>

  <div class="w3-container w3-light-grey w3-padding">
   <button class="w3-button w3-right w3-white w3-border"
   onclick="document.getElementById('contact-modal').style.display='none'">Close</button>
  </div>
 </div>
</div>


<!-- Enable reCAPTCHA  -->
<!-- <script src="https://www.google.com/recaptcha/api.js"></script>
<script>
  function onSubmit(token) {
    document.getElementById("my-form").submit();
  }
</script> -->
