<head>

<title>{{site.title}}</title>
<link rel="shortcut icon" href="../statics/icons/favicon.png" type="image/x-icon">
<meta name="author" content="Navidreza Asadi">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="content-type" content="html/text">
<meta charset="utf-8">

<link rel="stylesheet" href="/styles/w3.css">
<link rel="stylesheet" href="/styles/syntax.css" type="text/css" />
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<!-- <script src="scripts/scripts.js"></script> -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/script.js"></script>
<script src="https://kit.fontawesome.com/4da492d6c3.js" crossorigin="anonymous"></script>
<link href="assets/css/feather.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../styles/style.css">
<link rel="stylesheet" href="../styles/topnav.css">
<link rel="stylesheet" href="../styles/contact.css">

</head>
