{% assign profile = site.data.profile %}
{% assign contact = profile.contact %}
{% assign social = profile.social %}

{% if contact.formspree or contact.email or contact.phone %}
{% assign contact_tab = 'ContactForm'%}
{% elsif contact.address or contact.googlemap %}
{% assign contact_tab = 'Address'%}
{% elsif contact.calendly %}
{% assign contact_tab = 'schedule'%}
{% else %}
{% assign nocontact = "True" %}
{% endif %}
<!-- Left Sidebar -->
<div class=" profile-photo w3-center w3-mobile">
  <!-- <img src="https://s.gravatar.com/avatar/04cfcefac35f36f6311d0906ea4790e6?s=270%27)" alt="" class="w3-padding w3-circle w3-image w3-hover-opacity"/> -->
  <img src="/statics/photos/{{profile.status.photo}}" alt="" class="w3-padding w3-card-3 w3-circle w3-image w3-hover-opacity" style="border-radius:25%;">

  <div class="w3-container">
    <h3 class="w3-center" ><b>{{profile.name.firstname}} {{profile.name.lastname}}</b></h3>
    <span class="w3-text-darkgray">{{profile.status.title}}</span><br>
    <a href="{{profile.status.place.link}}">{{profile.status.place.name}}</a>

    <!-- Social Accounts -->
    <div class="w3-row-padding w3-margin-top w3-mobile">
      {% if nocontact == False %}
      <a title="Contact" onclick="document.getElementById('contact-modal').style.display='block';openContactTab(event, '{{contact_tab}}');">
        <i class="fas fa-envelope fa-2x"></i></a>
      {% endif %}

      {% for soc in social %}
      <a title="{{soc.name}}" href="{{soc.link}}"><i class="{{soc.class}}"></i></a>
      {% endfor %}
    </div>

  </div>
</div>
<!-- ======================================================================  -->
