<!DOCTYPE html>
<html>
{% include head.html %}
<body>

<div class="wrapper">

<!-- Top Navigation Bar -->
{% include header.html %}
<!-- ======================================================================  -->

<!-- Main Content -->
<div class="w3-container homepage-content w3-mobile" id="main-content">
  <h2 style="margin-bottom:1em;" class="w3-content l10 m10 s10">{{ page.title }}</h2>
  <div class="w3-content box l10 m10 s10 w3-margin-top w3-mobile">

    {{content}}
  </div>

</div> <!-- End Main Content ==============================================  -->

</div> <!-- End Wrapper ===================================================  -->

<!-- Footer -->
{% include footer.html %}
<!-- ======================================================================  -->


<!-- Contact -->
{% include contact.html %}
<!-- ======================================================================  -->

<!-- Scripts -->
{% include scripts.html %}
<!-- ======================================================================  -->

</body>

</html>
