---
<!-- layout: full_width -->
layout: boxed
---

<!-- <div>
    <h1>Tags: {{site.documents | group_by: 'tags'}}</h1>
</div> -->

{% assign tags = site.ml_systems | map: 'tags' | join: ',' | split: ',' | uniq %}

{% if page.photo.link != nil %}
    {% assign photo_available = true %}
{% else %}
    {% assign photo_available = false %}
{% endif %}

<div class="w3-row-padding w3-padding w3-cell-row w3-leftbar w3-light-grey w3-round w3-container" style="text-align:justify">
    {% if photo_available %}
        <div class="m8 l6 s10 w3-cell-middle w3-cell w3-margin w3-padding w3-mobile">
    {% else %}
        <div class="m10 l11s10">
    {% endif %}
            <i class="fas fa-cut fa-lg w3-xlarge"></i>
            {{ content }}
        </div>
    {% if photo_available %}
        <div class="w3-cell m4 l4 w3-cell-middle w3-margin w3-padding w3-mobile">
            <img src="{{page.photo.link}}" class="w3-round w3-image w3-card-3" alt="{{page.photo.caption}}" style="border-radius: 5%;">
        </div>
    {% endif %}
</div>


<div class="w3-container">
    <h2 class="mlsys-latest-articles">Latest</h2>
    <hr>
    {% assign all_posts = site.ml_systems | where_exp: item, "item.visible != true" | sort: "date" | reverse %}
    <div style="text-align:justify" class="w3-margin w3-container">
        <div id="article-list">
            <ul class="fa-ul">
                {% for post in all_posts limit:{{site.constants.max_latest_posts}} %}
                    {% if post.visible != false %}
                        <li class="article-item">
                            <span class="fa-li"><i class="fas fa-chevron-right"></i></span>
                            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                            <br>
                            <div class="w3-text-grey mlsys-dates">{{ post.date | date: "%B %d, %Y" }}</div>
                            <div>{{ post.excerpt | markdownify }}</div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div style="display: flex; justify-content: center;">
            <button id="more-button" class="w3-center">More<br><i class="fas fa-chevron-down"></i></button>
        </div>
    </div>
</div>

<script>
    var posts = [];
    {% for post in all_posts %}
        var postObj = {
            "title": "{{ post.title }}",
            "url": "{{ post.url }}",
            "date": "{{ post.date | date: '%B %d, %Y' }}",
            "excerpt": "{{ post.excerpt | replace: '\n', ' ' | replace: '\r', ' ' | strip_newlines }}"
        };
        posts.push(postObj);
    {% endfor %}

    var articleList = document.getElementById("article-list");
    var ulElement = articleList.querySelector("ul");
    var moreButton = document.getElementById("more-button");
    var articleCount = {{ site.constants.max_latest_posts }};
    var totalArticles = posts.length;

    if (articleCount >= totalArticles) {
        moreButton.style.display = "none";
    } else {
        moreButton.style.display = "block";
    }
    
    moreButton.addEventListener("click", function() {
        if (articleCount < totalArticles) {
            for (var i = articleCount; i < Math.min(articleCount + {{ site.constants.load_new_posts }}, totalArticles); i++) {
                var post = posts[i];

                var listItem = document.createElement("li");
                listItem.classList.add("article-item");
                listItem.innerHTML = "<span class='fa-li'><i class='fas fa-chevron-right'></i></span>" +
                                     "<h3><a href='" + post.url + "'>" + post.title + "</a></h3>" +
                                     "<br>" +
                                     "<div class='w3-text-grey mlsys-dates'>" + post.date + "</div>" +
                                     "<div>" + post.excerpt + "</div>";
                
                ulElement.appendChild(listItem);
            }
            
            articleCount += {{ site.constants.load_new_posts }};
            
            if (articleCount >= totalArticles) {
                moreButton.style.display = "none";
            }
        }
    });
</script>
    
</div>