---
<!-- layout: full_width -->
layout: default
---

{{ content }}

{% assign pubs = site.publications | where_exp: "item", "item.visible != false" | sort: "date" | reverse %}

{% assign n_pubs = pubs.size %}

{% assign confs = pubs | where: "type", "c" %}
{% assign jours = pubs | where: "type", "j" %}
{% assign books = pubs | where: "type", "b" %}
{% assign posters = pubs | where: "type", "p" %}
{% assign reprts = "" | split:"" %}
{% for pub in pubs %}{% if pub.type == 'r' or pub.type == nil %}{% assign reprts = reprts | push: pub %}{% endif %}{% endfor %}

{% assign n_conf = confs.size %} {% assign n_jour = jours.size %}
{% assign n_book = books.size %} {% assign n_report = reprts.size %} {% assign n_posters = posters.size %}

{% assign current_year = pubs.first.date | date: "%Y" | plus: 0 %}

<h5><b>{{ current_year }}</b></h5>

{% for pub in pubs %}
  {% assign year = pub.date | date: "%Y" | plus:0 %}

  {% if year != current_year %}
    {% assign current_year = year %}
    <h5><b>{{ current_year }}</b></h5>
  {% endif %}

  {% case pub.type %}
    {% when "c" %}
      {% assign pub_type = "c" %}
      {% assign count = n_conf %}
      {% assign n_conf = n_conf | minus:1 %}
      {% assign pub_color = "#004c8c" %}
    {% when "j" %}
      {% assign pub_type = "j" %}
      {% assign count = n_jour %}
      {% assign n_jour = n_jour | minus:1 %}
      {% assign pub_color = "#8c0032" %}
    {% when "b" %}
      {% assign pub_type = "b" %}
      {% assign count = n_book %}
      {% assign n_book = n_book | minus:1 %}
      {% assign pub_color = "#1faa00" %}
    {% when "r" %}
      {% assign pub_type = "r" %}
      {% assign count = n_report %}
      {% assign n_report = n_report | minus:1 %}
      {% assign pub_color = "#009688" %}
    {% when "p" %}
        {% assign pub_type = "p" %}
        {% assign count = n_posters %}
        {% assign n_posters = n_posters | minus:1 %}
        {% assign pub_color = "#424242" %}
    {% else %}
      {% assign pub_type = "r" %}
      {% assign count = n_report %}
      {% assign n_report = n_report | minus:1 %}
      {% assign pub_color = "#009688" %}
  {% endcase %}

  {% case pub.status %}
    {% when "a" %}
      {% assign pub_stat = "accepted" %}
    {% when "r" %}
      {% assign pub_stat = "under review" %}
    {% when "s" %}
      {% assign pub_stat = "submitted" %}
    {% when "f" %}
      {% assign pub_stat = "final stages of submission" %}
    {% when "i" %}
      {% assign pub_stat = "in preparation" %}
    {% else %}
      {% assign pub_stat = nil %}
  {% endcase %}

  <div class="w3-row element" style="border-left: .4em solid {{pub_color}};">
    <div class="w3-col" style="width:1em; ">
      <span class="pub-typecount" style="background-color:{{pub_color}}; padding:.2em; margin-left:.25em; font-weight: bold;">{{ pub_type | upcase }}{{count}}</span>
    </div>
    
    <div class="w3-col w3-left " style="width:95%; padding-left: 1.5em;">
      <a class="pub-title">{{ pub.title }}</a> <br>
      {{pub.authors}}
      <p>
        {% if pub.place %} <span class="pub pub-name">{{pub.place}} </span> {% endif %}
        {% if pub.IF %}
        <span class="pub pub-goodness">
        Impact Factor: {{pub.IF}}
        {% elsif pub.acceptance_rate %}
        <span class="pub pub-goodness">
        Acceptance Rate: {{ pub.acceptance_rate }}%
        {% endif %}
        </span>
        {% if pub_stat %}
        <span class="pub pub-stat">({{pub_stat}})</span>
        {% endif %}
        {% if pub.award %}
        <span class="pub pub-award">
          <i class="fas fa-award"></i>{{ pub.award }}
        </span>
        {% endif %}
      </p>
      <p class="pub-icons">
        {% if pub.pdf %}
          <a href="{{pub.pdf}}" target="_blank" title="PDF File"><i class="fas fa-file-pdf icon"></i></a>
        {% endif %}
        {% if pub.presentation %}
          <a href="{{pub.presentation}}" target="_blank" title="Presentation"><i class="fas fa-file-powerpoint icon"></i></a>
        {% endif %}
        {% if pub.video %}
          <a href="{{pub.video}}" target="_blank" title="Video"><i class="fas fa-file-video icon"></i></a>
        {% endif %}
        {% if pub.poster %}
          <a href="{{pub.poster}}" target="_blank" title="Poster"><i class="fas fa-file-image icon"></i></a>
        {% endif %}
        {% if pub.code %}
          <a href="{{pub.code}}" target="_blank" title="Source Code"><i class="fas fa-file-code icon"></i></a>
        {% endif %}
        {% if pub.supplementary %}
          <a href="{{pub.supplementary}}" target="_blank" title="Supplementary"><i class="fas fa-file-archive icon"></i></a>
        {% endif %}
        {% if pub.link %}
          <a href="{{pub.link}}" target="_blank" title="Link"><i class="fas fa-external-link-alt icon"></i></a>
        {% endif %}
        {% if pub.bibtex %}
          <span href="" onclick="copyData('{{pub.bibtex}}'); notification('BibTeX copied to the clipboard.')" title="Cite (Bibtex)"><i class="fas fa-quote-right icon"></i></span>
        {% endif %}
        {% if pub.scholar %}
          <a href="{{pub.scholar}}" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar-square icon"></i></a>
        {% endif %}

        {% if pub.misc.size > 0 %}
          {% for misc in pub.misc %}
            {% if misc.link and misc.title %}
              <span class="pub pub-misc">
              <a href="{{misc.link}}">{{misc.title}}{{misc.desc}}</a>
            </span>
            {% elsif misc.title  %}
              <span class="pub pub-misc">{{misc.title}}{{misc.desc}}</span>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if pub.content %}
          <span onclick="toggleAbstract('{{ pub_type | upcase }}{{count}}', 'pub-abstract-btn{{ pub_type | upcase }}{{count}}')" class="pub-abstract unselectable"><i class="fas fa-caret-square-down pub-abstract-icon" id="pub-abstract-btn{{ pub_type | upcase }}{{count}}"></i><span class="pub-abstract-text">Abstract</span></span>
          <div id="{{ pub_type | upcase }}{{count}}" class="w3-animate-fading w3-animate-bottom abstract" style="text-align:justify; margin-top:.5em;display: none;">
            <p>{{pub.content}}</p>
          </div>
        {% endif %}

      </p>
    </div>

  </div>

{% endfor %}
</ul>
