#contact-modal {
  display: none;
}

#close-btn {
  color: green;
  /*display: inline-block;*/
  margin-top: 20px;
  margin-bottom: -20px;
  float: right;
  padding-right: 0px;
  font-size: 20em;
}

#scheduleBtn{
  background-color: #870000;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tablink{
  background-color: black;
  color:white;
}
.tablink:active{
  background-color: red;
}

.map-container{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.map-container .map{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;}
