.element{
  margin-bottom: 1em;

}

.pub-abstract {
  font-size: 1em;
  padding: 0px 2px 0px 2px;
  vertical-align: bottom;
  border-radius: 3px;
}

.pub-abstract-text {
  font-size: 0.8em;
  vertical-align: text-top;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
}

.pub-abstract-icon::before {
  color: #ededed;
  font-size: 1em;
}

.icon::before {
  font-size: 1em;
  padding: 1px;
  vertical-align: bottom;
  border-radius: 3px;
}

 .ai-google-scholar-square.icon {
   font-size: 1.2em;
   vertical-align: bottom;
   margin-bottom: 2px;
 }

 a.pub-title {
   font-weight: 660;
 }

.icon.quote{
}

.ai{
  font-size: 1.4em;
}

.pub {
  padding: 1px 5px 1px 5px;
  border-radius: 10px;
  font-size: 85%;
  margin-right: .5em;
}

.pub-stat{
  padding: 0;
  margin-right: 0;
}

.pub-award{
  font-weight: bold;
}

.pub-abstract-btn{
  font-weight: bold;
}

.pub-icons{
  margin-top: .4em;
}


.pub-misc{
  border-radius: 3px;
  padding: 2px;
  margin-top: 1em;
}

.pub-name{
  font-weight: 550;
  border-radius: 0;
  padding: 5px 5px 5px 2px;
}
