/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/statics/fonts/RobotoLatin/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('/statics/fonts/RobotoLatin/roboto-v20-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/statics/fonts/RobotoLatin/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('/statics/fonts/RobotoLatin/roboto-v20-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/statics/fonts/RobotoLatin/roboto-v20-latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/statics/fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/statics/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/statics/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/statics/fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/statics/fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/statics/fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  src: url('/statics/fonts/RobotoSlab/roboto-slab-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/statics/fonts/RobotoSlab/roboto-slab-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('/statics/fonts/RobotoSlab/roboto-slab-v12-latin-regular.woff2') format('woff2'),
       url('/statics/fonts/RobotoSlab/roboto-slab-v12-latin-regular.woff') format('woff'),
       url('/statics/fonts/RobotoSlab/roboto-slab-v12-latin-regular.ttf') format('truetype'),
       url('/statics/fonts/RobotoSlab/roboto-slab-v12-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

html, body, h1, h2, h3, h4, h5, h6 {
   font-family: "Raleway" !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 450;
}


h1{font-size:1.75em} h2{font-size:1.375em} h3{font-size:1.25em} h4{font-size:1.125em} h5{font-size:1em} h6{font-size:.875em} 

.fa, .fas, .fab, .far, .feather-*, .ai{
  font-family: inherit;
}

.emoji
{
  width: 1.1em;
  height: 1.1em;
  vertical-align: baseline;
}

.easy-icon{
  width: 32px;
  height: 32px;
  background-size:contain;;
  display: inline-grid;
  vertical-align: top;
}

.easy-icon:hover{
  width: 32px;
  height: 32px;
  background-size:contain;;
  display: inline-grid;
  vertical-align: top;
}

.profile-photo img
{
  width: 85%;
  height: 85%;
  max-width: 60vw;
  object-fit: cover;
}


@media only screen and (max-width: 993px) and (min-width: 600px) {
  .profile-photo img
  {
    width: 50%;
    height: 50%;
    max-width: 60vw;
    object-fit: cover;
  }

}


@media only screen and (max-width: 993px) and (min-width: 600px) {
  .profile-photo img
  {
    width: 50%;
    height: 50%;
    max-width: 30vw;
    object-fit: cover;
  }

}

.homepage-content{
  margin-top: 5em;
}

#index{
  font-weight: 700;
  /* vertical-align: middle; */
  /* margin-top: -.26em; */
}

a {
  text-decoration: none;
}

/* Social Icons */
i.fab, i.fa, i.fas {
  padding-right: 5px;
}

.wrapper {
  min-height: 100%;
  margin: auto;
}

@media screen and (min-height:1000px){
  .wrapper{
    width: 67%;
  }
}

.footer {
  height: auto;
  padding: 20px 0 20px 0;
  font-size: small;
  width: 100%;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 650px){
  .footer, .wrapper:after {
    height: 200px;
  }

}

.box{
  border-radius: .7vw;
  padding: 1.2em .8em .8em .8em;
  margin-bottom: 2em;
  padding: 2em 2em 2em 2em;
}

@media only screen and (min-width: 600px) {
  .box-narrow, .article-title {
    width: 75%;
  }
}

#toTopBtn, #toTopBtn:hover{
  display: none;
  bottom: 5px;
  right: 16px;
  position: fixed;
  z-index: 99999;
  width:2em;
  height:2em;
  font-size: 1em;
  border-radius: 10%;
  padding: 0 0 0 5px;
  border: none;
}

#main-content{
  /*margin-top: 0px;*/
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* BOXES */

.note {
  margin-top: 1.5em auto 1.5em auto;
  padding: 1em;
  border-radius: 1em;
}

.alert {
  content: "XX";
  margin-top: 1.5em auto 1.5em auto;
  padding: 2em;
  border-radius: 1em;
}

.info {
  margin-top: 1.5em auto 1.5em auto;
  padding: 1em;
  border-radius: 1em;
}

.caution {
  margin-top: 1.5em auto 1.5em auto;
  padding: 1em 2em 1em 2em;
  border-radius: 1em;
}

.warning {
  margin-top: 1.5em auto 1.5em auto;
  padding: 1em;
  border-radius: 1em;
}

.important {
  margin-top: 1.5em auto 1.5em auto;
  padding: 1em;
  border-radius: 1em;
}

.download::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.download {
  margin-top: 1.5em auto 1.5em auto;
  padding: 1em;
  border-radius: 1em;
}

.download a {
  font-weight: 525;
}

.download a:hover {
  font-weight: 525;
}

.download a, .info a, .note a, .alert a, .warning a, .caution a, .important a {  font-weight: 525;}

ul.info, ul.note, ul.alert, ul.warning, ul.caution, ul.important, ul.download {list-style-position: inside;}

.download::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f019"; /* Font Awesome download icon */
  font-family: "Font Awesome 5 Free"; /* Font Awesome font family */
  font-weight: 900; /* Font Awesome font weight */
  margin-right: 0.5em; /* Adjust the spacing between the icon and text */
  left: 0;
}

#dark-mode-button {
  padding-right: 1em;
  padding-left: 1em;
}

@media screen and (max-width: 700px) {
  #dark-mode-button {
    padding-right: 1em;
    padding-left: 1em;
    position: absolute;
    display: block;
    right: 3em;
    font-size: larger;
  }
}

.notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
}

.hobby {
  list-style-type: none;
  padding: 0;
}

.hobby li::before {
  content: attr(data-emoji); /* Use the value of the data-emoji attribute as content */
  margin-right: 0.5em;
  display: inline-block; /* Ensure emojis are displayed inline with text */
}

table{border-collapse:collapse;border-spacing:0;width:100%;display:table}
table{border: 1px solid}
table tr{border-bottom:1px solid}
tr th, tr td{text-align:center}
table td,table th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
table th:first-child,table td:first-child{padding-left:16px}